<html>
    <head>
        <title>Web Guesser</title>
        <style>
            body {
                background: <%= background_color %>;
            }
        </style>
    </head>
    <body>
        <form>
            <input type='text' name='guess'>
            <input type='submit' value='Guess!'>
        </form>
        <p><%= message %></p>
        <p><%= number_message %></p>  
        <p><%= cheat_message %></p>      
    <body>
</html>